li {
    list-style: none;
    margin: 0 2vw;
    font-size: 2vh;
}

a {
    text-decoration: none;
    color: black;
    padding: 2vw;
    font-family: monospace;
}

nav {
    list-style:none;
    margin:20px;
    padding:5px;
    text-align:center;
}

nav li {
    display: inline;
}

.nav a{
    display:inline-block;
    padding:10px;
}

ul {
    margin: 5px;
    padding: 5px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}